.sales-container {
  border: 1px solid rgb(223, 223, 223);
  padding: 0 20px;
  border-radius: 10px;
  margin: 50px auto;
  max-width: 1024px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../images/beach-hero.webp");
  background-size: cover;
  height: 450px;
  font-family: Helvetica;
  text-shadow: 2px 2px #494949;
}

.left-center {
    display: flex;
    align-items: center;
    width: 40%;
    height: 100%;
    padding-left: 30px;
}

.advertisement {
    z-index: 2;
    color: white;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.ad-phrase {
    font-size: 36px;
}

.small-text {
    font-size: 14px;
    margin-bottom: 10px;
}

.dive-btn {
    background-color: #1976d2 !important;
    color: white !important;
    width: 80px !important;
    text-transform: none !important;
}

.dive-btn:hover {
    background-color: #1a5a99 !important;
}