.connect-container {
    height: 280px;
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
    border: 1px solid rgb(223, 223, 223);
    border-radius: 10px;
}

.left-image {
    float: left;
}

.stadium-image {
    border-radius: 10px 0 0 10px;
}

.right-text {
    height: 250px;
    display: flex;
    padding: 15px 10px 15px 20px;
    text-align: left;
    gap: 10px;
}

.qrcode-div {
    display: flex;
    flex-direction: column;
}

.qrcode {
    width: 150px;
}

.small-text {
    font-size: 12px;
    padding: 0;
    margin: 0;
}

.connect-phrase {
    margin: 0;
    font-size: 30px;
}

.text-phrase {
    margin: 0;
    font-size: 20px;
    margin-top: 20px;
}

.phone-container {
    display: flex;
    flex: 1;
    padding: 10px 0;
    gap: 10px;
    align-items: center;
}

.areacode-select {
    width: 150px;
}

.getapp-btn {
    background-color: #1976d2 !important;
    color: white !important;
    text-transform: none !important;
    font-family: 'Nunito', sans-serif !important;
    font-size: 16px !important;
    height: 45px !important;
}

.scan-phrase {
    text-align: center;
    margin: 0;
    font-size: 14px;
    font-weight: 600;
}