.featured-container {
    height: 750px;
    min-width: 320px;
    max-width: 1224px;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.featured-places {
    display: flex;
    width: 100%;
    gap: 20px;
    flex: 1;
}

.featured-place {
    display: flex;
    flex-direction: column;
    text-align: left;
    cursor: pointer;
    width: 33%;
    overflow: hidden;
    padding-bottom: 50px;
}

.featured-image {
    border-radius: 10px;
}

.featured-cap {
    padding-top: 10px;
    font-size: 12px;
}

.featured-bold {
    font-weight: 600;
}

.featured-locations {
    display: flex;
    width: 100%;
    gap: 20px;
    flex: 1;
}

.featured-deal {
    display: flex;
    flex-direction: column;
    text-align: left;
    cursor: pointer;
    width: 50%;
    overflow: hidden;
}