html {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    color: #343b53; 
    height: 100%;
}

body {
    min-height: 100%;
    padding: 0;
    margin: 0;
}

.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 96%;
    margin: 0 2%;
}


.help-btn {
    font-weight: 600;
    font-size: 16px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: white;
    padding: 10px 20px;
    color: #3662D8;
    border-radius: 20px;
    border: 1px solid rgb(231, 231, 231);
    box-shadow: 1px 1px 1px 1px rgb(231, 231, 231);
    cursor: pointer;
}

.help-btn:hover {
    background-color: aliceblue;
}

.help-icon {
    margin-right: 10px
}