html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    color: #343b53;
    min-width: 320px;
}

.home-container {
    text-align: center;
    display: flex;
    flex-direction: column;
}