.search-container {
    padding: 50px;
}

.searchInput {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.flex {
    border: 1px solid rgb(223, 223, 223);
    padding: 0 50px;
    border-radius: 10px;
    color: #1976d2;
    margin: auto 10%;
}

#outlined-search {
    width: 490px;
}

.transportation-options {
    padding-top: 30px;
    display: flex;
    justify-content: flex-start;
}

.activity-options {
    margin: 20px auto;
    color: black;
    border-bottom: 1px solid rgb(223, 223, 223);
}

.activity {
    margin: 10px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}