.activity-container {
  border: 1px solid rgb(223, 223, 223);
  padding: 0 20px;
  border-radius: 10px;
  color: #1976d2;
  margin: 100px auto;
  max-width: 1024px;
}

.searchInput {
  margin: 0 12px;
}

.css-heg063-MuiTabs-flexContainer {
  justify-content: center;
}

.css-1h9z7r5-MuiButtonBase-root-MuiTab-root {
  text-transform: none !important;
  font-weight: 600 !important;
}

.search-container {
  padding: 5%;
  font-family: "Nunito", sans-serif !important;
}

.transportation-options {
  padding: 10px;
  display: flex;
}

.activity-options {
  margin: 20px auto;
  color: #343b53;
  border-bottom: 1px solid rgb(223, 223, 223);
}

.activity {
  margin: 10px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.form-control {
  border: 1px solid rgb(223, 223, 223);
  border-radius: 3px;
}

.search-center {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}

.search-btn {
  text-transform: none !important;
}

.travel-btn {
  color: #1976d2;
  margin: 20px 12px;
  cursor: pointer;
}

.downCaret {
  padding-left: 5px;
}

.size-choice {
    display: flex; 
    justify-content: flex-end;
}

.setTravelSize {
    position: absolute;
    top: 0;
}